

.list-group-item {
	font-size: 1.65em;
	font-weight: 400;
	letter-spacing: 4px;
	margin: 0 0 1.5em 0;
	line-height: 1.75em;
	margin-left: 5%;
	margin-right: 5%;
		
}
strong {
	text-align: left;
	font-size:2.65em;
}
.list-group-item h2 {
	text-align: center;
}
 li{

		
}
li:first-child {
	margin-left: 4%;
	margin-right: 4%;
	background-color: #333;
	color: #fff;
}
li:last-child	 {
	margin-left: 6%;
	margin-right: 6%;
	
}
table {
margin:auto;
}
.list-group-center {
margin:auto;
    width: 100%;
}
/*///////////////*/
/* MEDIA QUERIES */
/*///////////////*/
@media all and (max-width: 480px){
  .list-group-item {
	font-size: 0.5em;
	font-weight: 200;
	letter-spacing: 3px;
	margin: 0 0 1.0em 0;
	line-height: 0.5em;
	margin-left: auto;
	margin-right: auto;
	
    
	}
	ul{ 
	padding:0;
	}
	
	.list-group-item h2 {
	text-align: center;
	font-size: 1.5em;
}
li:first-child {
	margin-left: auto;
	margin-right: auto;
	background-color: #333;
	color: #fff;
}
li:last-child	 {
	margin-left: auto;
	margin-right: auto;
	}
	 }
	 